# NODE_ENV: development | production | test
NODE_ENV=development

# ------------------------------------------
# FRONTEND CONFIG
# ------------------------------------------
# URL where the frontend is accessible
FRONTEND_URL=http://localhost:8080

# ------------------------------------------
# SENTRY CONFIG
# ------------------------------------------
# Backend DSN
SENTRY_DSN='https://domain@user.ingest.region.sentry.io/id_backend'
# Frontend DSN (Must start with VITE_)
VITE_SENTRY_DSN='https://domain@user.ingest.region.sentry.io/id_frontend'

# ------------------------------------------
# API / BACKEND CONFIG
# ------------------------------------------
API_PORT=3000
JWT_SECRET=secret
# JWT_EXPIRES_IN=1d

# Admin & Test User Seed Data
API_ADMIN_EMAIL=admin@gmail.com
API_ADMIN_PASSWORD=password
API_USER_EMAIL=user@gmail.com
API_USER_PASSWORD=password

# ------------------------------------------
# DATABASE CONFIG
# ------------------------------------------
# Use 'lsv-db' when running in Docker, '127.0.0.1' for local testing
DB_HOST=lsv-db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=plataforma
VALKEY_HOST=lsv-valkey
VALKEY_PORT=6379
VALKEY_PASSWORD=password

# ------------------------------------------
# OAUTH2 GOOGLE CREDENTIALS
# ------------------------------------------
GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxx-xxxxxxxxxxx-xxxxxxxxxxxxxx
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# ------------------------------------------
# EMAIL CONFIG
# ------------------------------------------
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER="example@gmail.com"
EMAIL_PASSWORD="xxxx xxxx xxxx xxxx"
EMAIL_SECURE=false

# ------------------------------------------
# ADMIN TOOLS CONFIG
# ------------------------------------------
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

